.page{
  --width:var(--page); 
  max-width: 1500px; 
  margin: auto
}
.text-justify{
  text-align: justify
}
.float-right{ 
  float:right;
}
.space-evenly {
  display: flex;
}
.space-evenly > * {
  flex: 1;
}
.space-evenly > * + * {
  margin-left: var(--m);
}
.vertical-space-evenly {
  display: flex;
  flex-direction: column;
  place-content: space-evenly;
}
.tiny {
  font-size: calc(var(--font-size) * 0.8);
}

button, .button {
  font-weight: 600;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.columns-no-grid {
  column-count: var(--c);
  column-gap: 2rem;
}

@media screen and (max-width:28rem) {
  .columns-no-grid.desktop {
    --c: 1 !important;
  }
}