.page{
  --width:var(--page); 
  max-width: 1500px; 
  margin: auto
}
.text-justify{
  text-align: justify
}
.float-right{ 
  float:right;
}
.rounded {
  border-radius:2em
}
.space-evenly {
  display: flex;
}
.space-evenly > * {
  flex: 1;
}
.space-evenly > * + * {
  margin-left: var(--m);
}
.tiny {
  font-size: calc(var(--font-size) * 0.8);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  padding: calc(var(--p) * 2.5);
}
.columns:has(.card) {
  gap: calc(var(--p) * 2.5);
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
iframe, video {
  display: block;
  width: 100%;
  margin: 1em auto;
}
iframe {
  height: 800px;
}
